<mat-toolbar color="primary" class="toolbar">
  <div class="toolbar-row">
    <mat-label id="app-description">My Finance</mat-label>
    <span></span>
  </div>
</mat-toolbar>
<app-dashbaord></app-dashbaord>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Banks">
    <app-banks data="banks"></app-banks>
  </mat-tab>
  <mat-tab label="Mutual Funds">
    <app-mutual-funds></app-mutual-funds>
  </mat-tab>
  <mat-tab label="Stocks">
    <app-stocks></app-stocks>
  </mat-tab>
</mat-tab-group>
